/*
* Pages:
*   - Pull-Request view
*   - Pull-Request create
*/

/* CSE means Client Side Extensions. Might be useful to separate styles from the 'classic' implementation on
 other pages. */

.bitbucket-tagdetails-notesColumn_cse {

    button {
        /* The padding-left is 10px by default. But that moves the icon more to the right as needed.
            With value 0 the icon is positioned approx. in vertical line with the "Notes" column header label. */
        padding-left: 0;
        padding-right: 0;
        cursor: default;
        // Suppress underline at hover. Works only with !important.
        text-decoration: none !important;
        /* Is 500 by default, in contrast to many other elements. */
        font-weight: 400;

        span {
            /* Make the icon another color than "link-blue". */
            /* Setting the color on button doesn't work. */
            color: #505F79;
            margin-left: 0;
            margin-right: 0;

            svg {
                /* The icon is 24x24 by default, which looks a little bit bulky. */
                width: 16px;
                height: 16px;
            }
        }

        > span:first-child {
            margin-right: 5px;
        }
    }
}


/*
* Page: Single commit view
*/
.bitbucket-tagdetails-notesLabel {
    padding: 5px 10px;
    color: #505F79;

    > span:nth-child(1) {
        padding-left: 5px;
        transform: scale(1.4);
    }

    > span:nth-child(2) {
        padding-left: 10px;
    }
}

/*
* All pages.
*/

.tagdetails-aui-inline-dialog .aui-inline-dialog-contents {
    // The <aui-inline-dialog> (in AUI version 8.1.0) doesn't auto-position if the height exceeds the top viewport.
    // The following height limits the dialog to an "always fit" size:
    //  - at the first commit in the commits-table
    //  - at the commit view page
    //  - at the last commit in a creation of a pull request
    max-height: 350px;
    // The following width is acceptable even the user works on a small screen, or works in a small browser window.
    max-width: 700px;
    overflow: auto;
}

.tagdetails-dialog {
    color: #333333;
}

/* Tag name, note namespace  */
.tagdetails-dialog-tag > div:nth-child(1), .tagdetails-dialog-note > div:nth-child(1) {
    font-weight: bold;
    padding-bottom: 6px;
}

/* Tag message, note message */
.tagdetails-dialog-tag div:nth-child(2) {
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: pre-wrap; /* Keep line breaks. */
}

.tagdetails-dialog-tag hr {
    margin-bottom: 12px;
}

.tagdetails-dialog-tag td {
    font-family: Arial, sans-serif;
    white-space: nowrap;
    padding-top: 6px;
    padding-right: 10px;
    vertical-align: top;
    color: #333333;
}

.tagdetails-dialog-note pre {
    padding-top: 6px;
    font-family: Arial, sans-serif;
}

.commits-table {

    .bitbucket-tagdetails-notesColumn {
        /* TODO Always show the Notes column because CSE can't disable this column. */
        /*display: none;*/
    }

    tbody {
        .bitbucket-tagdetails-notesColumn {
            text-align: center;
            white-space: nowrap;
            width: 1%;
            vertical-align: middle;
            padding-left: 0 !important;

            .aui-icon {
                padding-bottom: 2px; /* Center the icon vertically. */
            }
        }
    }
}
